<div class='grid grid-cols-4 gap-10'>
	<div class='col-span-1'>
		<% if current_user.active_reservation %>
			<%= turbo_frame_tag('active_reservation_badge', src: reservation_path(current_user.active_reservation.id)) %>
		<% end %>
		<%= turbo_frame_tag('company_reservations', src: company_reservations_path) %>
	</div>
	<table class="col-span-3">
		<tbody>
			<% @books.each do |book| %>
				<tr id='<%= "#{dom_id(book)}_row" %>' class='<%= cycle('bg-violet-50', 'bg-white') %> shadow transition ease-in-out hover:scale-105'>
					<td class='px-2 py-3'>
						<%= image_tag(book.cover_url, class: 'w-40') %>
					</td>
					<td>
						<%= link_to(book_path(book)) do %>
							<h1 class='text-xl font-bold mb-3 hover:underline'><%= book.title %></h1>
						<% end %>
						<p class="max-w-xl"><%= truncate(book.description, length: 200) %></p>
					</td>
					<td>
						<ul>
							<li>
								<%= link_to('Edit', edit_book_path(book), class: 'hover:underline') %>
							</li>
							<li>
								<%= button_to('Destroy', book_path(book), method: :delete, class: 'hover:underline') %>
							</li>
						</ul>
					</td>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<td>
				<div class="my-8">
					<%= link_to('New book',new_book_path,
												class: 'inline rounded-lg py-3 px-5 bg-green-600 text-white block font-medium') %>
				</div>
			</td>
		</tfoot>
	</table>
</div>