<div class="w-2/3 mx-auto">
  <h1 class="font-bold text-5xl pb-8"><%= @book.title %></h1>
  <div class="flex">
    <%= image_tag(@book.cover_url, class: 'max-h-96 justify-start mr-8') %>
    <div class="flex flex-col">
      <span class="mb-5 bg-violet-500 text-white p-2 w-fit rounded-lg shadow"><%= format_genre(@book.genre) %></span>
      <span class="mb-5 font-bold text-4xl"><%= number_to_currency(@book.price, unit: "€") %></span>
      <p><%= @book.description %></p>
    </div>
</div>