<div class='w-1/2 mx-auto'>
  <h1 class='font-bold text-5xl pb-8'>Login</h1>
  <%= render 'devise/shared/links' %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class='my-5 w-full'>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'block shadow rounded-md w-full' %>
    </div>

    <div class='my-5 w-full'>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: 'current-password', class: 'block shadow rounded-md w-full' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class='my-5 w-full'>
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end %>

    <%= f.submit 'Log in', class: 'rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer' %>
  <% end %>
